body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background: #424242;
}

nav {
    margin: 0;
    padding: 0;
}

header {
    padding: 0;
    margin: 0;
    height: 400px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;;
}

header a {
    margin-top: 50px;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 5px #f0668f;
    font-size: 25px;
}

nav {
    overflow: hidden;
    background-color: #424242;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f0668f;
}

.sticky-text {
    text-shadow: 0 0 5px #424242;
}

.logo {
    background-image: url("images/logo.png");
    background-size: 200px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 200px;
    position: relative;
    text-indent: -9999999px;
    width: 200px;
    top: -65px;
}

.sakura {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 400px;
    background-color: #f0668f;
    background-image: url("images/sakura.jpeg");
    background-size: 100%;
    background-position: center;
    filter: blur(2px);
}

h2 {
    text-align: center;
    color: white;
    text-shadow: 0 0 5px #f0668f;
}

div ul {
    padding-left: 1.2em;
    text-indent: -1.2em;
}

div li{
    color: rgb(202, 202, 202);
    list-style-type: none;
    margin-bottom: 10px;
}

div li::before {
    content: "🌸 ";
    display: block;
    float: left;
    width: 1.2em;
}

.content {
    margin: 0px 80px 0 80px;
    font-size: large;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    border-color: #f0668f;
    margin: 0 20% 0 20%;
    padding: 0 20px 0 20px;
}

#info {
    margin-bottom: 20%;
}